*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0,33);
    color: white;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
@media screen and (min-width: 700px) {
    body{
        overflow-x: hidden;
    }
  

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4vw;
    background-color:rgb(0, 0,33);
}
nav ul li:hover{
  text-decoration: underline;
  font-size: 1.04em;
  transition: 0.5s;
  text-shadow:5px,1px,10px, #b2ffff;
}
.cv button:hover{
  scale: 1.08;
  transition: 0.5s;

}
.cv button {
  border-radius: 8px;
}
header{
    position:sticky;
    top: 0;
}
.left{
    font-size: x-large;
}
.right ul {
    display: flex;
    justify-content:space-evenly;

}
nav ul li {
    list-style: none;
    margin: 0 2vw;
}
nav ul  a{
    text-decoration: none;
    color: white;
}
nav ul  a:hover{
    text-decoration: none;
    color:lavender;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 90vh;
}
.firstsection .leftsection{
    width: 55%;
    margin-top: 10%;
    font-size: 2rem;
    margin-left: 5%;
}
.firstsection .rightsection{
width: 30%;
margin-top: 10%;
}
.firstsection .rightsection img{
    border-radius: 70%;
}.color{
    color:rgb(249, 163, 255)
}
.name{
    font-weight:600;
    font-size:110%;
}
.nextsection{
    display: flex;
         
}
.nextsection button {
   padding: 2vh 3vw 2vh 3vw;
}
.nextsection button a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.secondsection{
    height:100vh;
    width: 98vw;
    padding-top: 5%;

}
.secondsection h1{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 8vh;
}
.serve{
    text-align: center;
}
.services{
    width: 70vw;
    margin-left: 15vw;
    margin-top: 10vh;
}
.service1,.service2{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
}
.service1{
    margin-bottom: 5vh;
}
.service2{
  margin-left: 3vw;
}
.work>img{
height: 15vh;
}
.mainx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;

}
.thirdsection{
  padding-top: 5%;
    width: 90vw;
    height: 90vh;
}
.thirdsection h1{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 8vh;
}

.thirdsection .left{
width: 48vw;
font-size: medium;
text-align:start;
}
.thirdsection .right img{
height: 40vh;
width: 20vw;
border-radius: 70%;
}


.work img {
  border-radius: 50%;
  /* border: 1px solid navy; */
  width: auto;
  height: 15vh;
}



.blogpage {
  padding-top: 5%;
  width: 70%;
  height: 100vh;
  z-index: 1;

}
.blogpage h1{
  margin-bottom:50px;
  margin-left: 20%;
  font-size: xx-large;
}
#mainblog {
  gap: 3vw;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 20vw;
  
}
.blog1,
.blog2,
.blog3 {
  height: 60%;
  color: #a3c1ad;
  width: auto;
}
#blogpage{
  margin-left: 5vw;
  height: 100vh;

}
.blog1:hover,
.blog2:hover,
.blog3:hover {
  scale: 1.01;
  transition: 0.5s;
  
}
#we {
  text-align: center;
}
#under:hover {
  color: blue;
  text-decoration: underline;
}
.topic {
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgb(9, 113, 113);
  margin-bottom: 2px;
}

#image {
  justify-content: center;
  display: flex;
  align-items: center;
}
#contact {
 
  padding-top: 5%;
}
/* New things added  */
.blogpage {
  height: 100vh;
  width: 70vw;

}
.contactme{
  width: 100vw;
  height: 90vh;
  display:flex;
  justify-content: space-between;

}
.info2{
  background-color: rgb(232, 228, 228);
  color:rgb(0, 0,33);
  height: 300px;
  border-radius: 10%;
  margin-right: 10%;
  margin-top: 5%;
  width: 25%;

}
.xxy{
  padding: auto;
  margin: auto;
}
.aaa{
  margin-left: 25%;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: larger;
  margin-top: 5%;
}
.aab{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}
.aaby{
  gap: 30px;
}
form input{
  padding: 10px;
  margin: 4px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
form .name{
  display:flex;
}

.a1a {
  color: #b9d9eb;
  font-size: xxx-large;
  font-weight: bold;
  padding-bottom: 60px;
  padding-top: 50px;
}
.info {
  gap: 40px;
  padding: 50px;
}
.name,
.email,
.no,
.message,
.submit {
  margin-bottom: 40px;
  color: #a3c1ad;
  font-size: x-large;
}
#submit {
  padding: 10px 50px 10px 50px;
  font-weight: bold;
  font-size: large;
}

.blogpage:hover {
  #blogab {
    color: #b2ffff;
    scale: 1.2;
      text-decoration: underline;
  }
  
}

html{
  scroll-behavior: smooth;
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  text-align: center;
  background-color: rgb(10, 10, 45);
}
}



@media only screen and (max-width: 500px) {
  html{
    overflow-x: hidden;
    overflow-y:scroll
  }
  nav {
  display: none;
  }
  .firstsection{
    width: 100vw;
    margin-bottom: 10vh;
  }
 .leftsection{
  text-align: center;
   font-size: x-large;
   margin-top: 30%;
   font-weight: 700;

 }

 .leftsection span{
  color: rgb(205, 193, 233);
 }
 .cv button{
padding-left: 15px;
padding-right: 15px;
padding-top:8px;
padding-bottom: 10px;
border: 2px solid navy;
 }
 
 a{
  text-decoration:  none;
 }
 .rightsection img{
border-radius: 50%;
width: 50%;
border: 2px solid rgb(12, 12, 95);
margin-top: 10vh;
margin-left: 30%;
 }
 .thirdsection{
  height:100vh;
  width: 100vw;
    text-align: center;

 }
 .thirdsection h1{
  text-align: center;
  
 }
 .thirdsection .left{
  margin-top:10vh;
  color:#b2ffff;
 }
 .thirdsection .right img{
border-radius: 50%;
width: 60%;
height: 28vh;
border: 2px solid rgb(12, 12, 95);
margin-top: 10vh;
 }
 .secondsection h1{
text-align: center;
 }
 .serve{
    margin-top:10vh;
  color:#b2ffff;
  text-align: center;
 }
 .work{
 }
 .work img{
border-radius: 50%;
width: 40%;
border: 2px solid rgb(12, 12, 95);
margin-left: 30%;

 }
figcaption{
text-align: center;
margin-bottom: 7vh;
}
.blogpage{

}
.blogpage h1{
  text-align: center;
   margin-top:10vh;
   margin-bottom: 10vh;
   font-size:x-large;

}
#mainblog{
  width:80vw;
  text-align: center;
  margin-left: 10%;
}
#mainblog img{
  width: 78vw;
}
.blog1,.blog2,.blog3{
  margin-bottom: 10%;
  border: 3px solid rgb(12,12,95);
}
.contactme{
  height: 80vh;

}
.contactme h1{
  text-align: center;
   margin-top:10vh;
   margin-bottom: 10vh;
   font-size:xx-large;
}
form{
width: 80vw;
border: 2px solid rgb(12, 12, 95);
margin-left: 5%;
padding-top:10%;
padding-left: 5%;
}
input{
  margin-bottom: 10%;
  padding: 10px;
}
.submit input{
 background-color:rgb(69, 69, 235);
  color: #b2ffff;
  border: 1px solid blue;
padding-left: 10vw;
padding-right: 10vw;
border-radius: 8%;
margin-left: 20vw;
}
footer{
  background-color:rgb(12, 12, 128);
  
}
footer p{
  text-align: center;
}
.aa{
  color: rgb(128, 128, 241);
}

}

