*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root{
    --
}
body{
    background-color: rgb(0, 0,33);
    color: white;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4vw;
    background-color: rgb(1, 1, 60);
}
header{
    position:sticky;
    top: 0;
}
.left{
    font-size: x-large;
}
.right ul {
    display: flex;
    justify-content:space-evenly;

}
nav ul li {
    list-style: none;
    margin: 0 2vw;
}
nav ul  a{
    text-decoration: none;
    color: white;
}
nav ul  a:hover{
    text-decoration: none;
    color:lavender;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}
.firstsection .leftsection{
    width: 55%;
    margin-top: 10%;
    font-size: 2rem;
    margin-left: 5%;
}
.firstsection .rightsection{
width: 30%;
margin-top: 10%;
}
.firstsection .rightsection img{
    border-radius: 70%;
}.color{
    color:rgb(249, 163, 255)
}
.name{
    font-weight:600;
    font-size:110%;
}
.nextsection{
    display: flex;
         
}
.nextsection button {
   padding: 2vh 3vw 2vh 3vw;
}
.nextsection button a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.secondsection{
    height:92vh;
    width: 98vw;
   
}
.secondsection h1{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 8vh;
}
.serve{
    text-align: center;
}
.services{
    width: 70vw;
    margin-left: 15vw;
    margin-top: 10vh;
}
.service1,.service2{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
}
.service1{
    margin-bottom: 5vh;
}
.work>img{
height: 15vh;
}
.mainx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;

}
.thirdsection{
    width: 90vw;
    height: 100vh;
}
.thirdsection h1{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 8vh;
}

.thirdsection .left{
width: 48vw;
font-size: medium;
text-align:start;
}
.thirdsection .right img{
height: 40vh;
width: 25vw;
border-radius: 60%;
}
.contact{
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
}
.contact h1{
    margin-bottom: 12vh;
    font-size: xx-large;
}
.contact form button{
    margin-left: 5%;
}
.contact .namex ,.mail {
    margin-bottom: 100px;
    margin-left: 7vw;
}
.contact .msg{
    margin-left: 9.15vw;
    width: 20px;
    height: 10px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}.contact input{
    margin-left: 10vw;
}
textarea{
    margin-left: 8vw;
    padding: 10vh 10vw 10vh 10vw;

}